html {
  background-color: #dddddd;
  padding: 0px;
}

body {
  margin: 0 auto;
  padding: 1em .25rem;
  background-color: #dddddd;
  border-color: #dddddd;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-wrapper {
  text-align: center;
  padding: 0;
}

.logo-wrapper img {
  width: 20%;
}

h1, h2, h3, h4, h5, h6, h7 {
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

h2 { text-align: left; } 

h6 {
  font-size: 1rem;
  margin: .3rem 0;
}

p {
  color: #222222;
}

.home-button-wrapper {
  margin: 1rem 0;
}

.button {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0 auto;
}

a {
  text-decoration: underline;
}

a:link {
  color: #444444;
  text-decoration: underline;
}

a:visited {
  color: #444444;
  text-decoration: underline;
}

a:hover {
  color: #444444;
  text-decoration: none;
}

ol {
  list-style-position: inside;
  padding-left: .25rem;
  margin: .5rem 0;
}